@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme('fontFamily.sans');
}

a {
  @apply text-accent hover:text-primary transition-colors;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  @apply outline-none ring-2 ring-accent ring-offset-2 ring-offset-surface;
}
